body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif; /* Set your preferred font-family */
  font-size: 16px; /* Set the base font size */
  line-height: 1.5;
  color: #333; /* Set your default text color */
  display: flex;
  place-items: center;
}

html {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  /* display: none; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}
.logo {
  font-family: "Sequel100Black-85";
}

.cursor-pointer {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}
.whitespace-nowrap {
  white-space: nowrap;
}

@font-face {
  font-family: "Sequel100Black-85";
  src: local("Sequel100Black-85"),
    url("./fonts/Sequel100Black-85.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel100Black-65";
  src: local("Sequel100Black-65"),
    url("./fonts/Sequel100Black-65.ttf") format("truetype");
}
@font-face {
  font-family: "Sequel100Black-45";
  src: local("Sequel100Black-45"),
    url("./fonts/Sequel100Black-45.ttf") format("truetype");
}
@font-face {
  font-family: "DMSans";
  src: local("DMSans-Regular"),
    url("./fonts/DMSans-Regular.ttf") format("truetype");
}

.center-container {
  position: relative;

  height: calc(100vh - 100px);
  width: 80%;
  max-width: 800px;
}

.image-container {
  /* position: relative; */
  /* border: 2px solid yellow; */
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.image {
  /* width: 100px; Adjust image size as needed */
  height: auto;
  max-height: 80vh;
  margin: 25px;
  filter: grayscale(1);
  transition: filter 0.5s ease-in-out;
  /* will-change: filter; */

  /* margin-top: 25px; */
  /* margin-right: 20px; Adjust margin as needed */
}
.image:hover {
  filter: grayscale(0);
}

.text-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  width: 90%;
  left: 0;
  overflow: hidden;
  /* border: 2px solid yellowgreen; */
}

.title {
  color: #fff;
  font-family: "Sequel100Black-65";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(150%);
  transition: transform 0.3s ease-out;
}
.title.animate {
  transform: translateY(0);
}

.title-name {
  color: #b8ff1f;
}
.title-name::before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #ffffff8a;
  -webkit-text-stroke-width: 0.5px;
  transform: translate3d(9px, 7px, 0);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.center-container:hover .title-name::before {
  opacity: 1;
}

.title-name:hover.title-name::before {
  opacity: 1;
}

.description {
  margin: 0;
  color: #fff;
  font-family: "DMSans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.project-section {
  background-color: #fff;
  color: #cccbcb;
  padding: 2rem;
}
.projects-container {
  margin-top: 170px;
  z-index: 10;
  position: relative;
}
.contact-section {
  background-color: #fff;
  color: #cccbcb;
  padding: 2rem;
}
.footer-section {
  background-color: #111111;
  color: #b8ff1f;
  padding: 2rem;
  padding-top: 100px;
  padding-left: 6rem;
  padding-right: 6rem;
}
.large-headings {
  color: #e4e3e3;
  font-family: "Sequel100Black-65";
  font-size: 160px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  z-index: 1;
  transition: transform 0.5s ease-out;
}
.workHeading {
  left: 20rem;
}
.contactHeading {
  left: 0px;
}
.move-right {
  transform: translateX(10%);
}

.sayHello {
  color: #cccbcb;
  font-family: Sequel100Black-45;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-container,
.nav-links,
.logo,
.nav-link::before {
  mix-blend-mode: difference;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.form-label {
  color: #111;
  font-family: DMSans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-input {
  /* padding: 15px; */
  margin: 15px 0px 30px 0px;
  /* border-radius: 5px; */
  border: 0px;
  border-bottom: 1px solid gray;
  font-family: DMSans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-input::placeholder {
  color: #e4e3e3;
}
.form-input:focus {
  outline: none;
}
.form-error {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
.form-input:invalid[focused="true"] {
  border-bottom: 1px solid red;
}

.form-input:invalid[focused="true"] ~ span {
  display: block;
}

.form-heading {
  color: #111;
  font-family: "Sequel100Black-45";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accent-color {
  color: #b8ff1f;
}
.project-tags {
  color: #cccbcb;
  font-family: DMSans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footercredits {
  color: #bebebe;
  text-align: center;
  font-family: DMSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}
.footerEmail {
  color: #111;
  font-family: DMSans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cursor {
  position: fixed;
  /* width: 8px; */
  /* height: 8px; */
  border-radius: 100%;
  background-color: #b8ff1f;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  /* transform: translate(-50%, -50%); */
  user-select: none;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  transform: scale(0.8);
  z-index: 1000;
}
.cursor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../public/vite.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  opacity: 0;
}
.cursor.active {
  opacity: 1;
  transform: scale(12);
}

.cursor.active::before {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  background: #b8ff1f28;
  border: 1px solid #b8ff1fbd;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: translate(-15px, -15px);
  z-index: 1000;
}

.cursor-follower.active {
  opacity: 0.3;
  transform: scale(0);
}
.magnetic-button {
  padding: 20px;
  border-radius: 40px;
  border: 1px solid #111;
  width: 150px;
  background: #fff;
  display: flex;
  justify-content: center;
  color: #111;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.magnetic-button::before {
  content: "";
  position: absolute;
  background: #b8ff1f; /* Blue color */
  width: 0px;
  height: 0px;
  border-radius: 100px;
  bottom: -50px;
  /* top: -50px; */
  left: 0px;
  transition: all 0.7s ease-out;
  z-index: -1;
}

.magnetic-button.hovered::before {
  width: 250px;
  height: 200px;
  left: -50px;
  /* bottom: -200px; */
}
.magnetic-button.exit::before {
  /* width: 250px; */
  /* height: 200px; */
  left: 75px;
  top: -100px;
}
