#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  width: 100%;
  /* text-align: center; */
}
.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}
.whitespace-nowrap {
  white-space: nowrap;
}
